@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');

header{
    background-color: #251b37;
}
h1{
    color: antiquewhite;
    font-family: 'Shadows Into Light', cursive;
    font-size: 130px;
}
main{
    background-color: #372948;
}
h2{
    color: rgb(248, 232, 211);
}
section{
    background-color: #FFCACA;
}
form{
    background-color:#FFECEF;
}
footer{
    background-color: #faf1f1;
}
.card{
    display: inline-block;
    border-left: 30%;
    background-color:azure
}
p{
    color:rgb(61, 15, 102) ;
}
.form-control{
    width: 30%;
    border-color:#372948
}
.accordion-item{
    width: 60%;
}
.accordion-body{
    font-family: 'Indie Flower';
    font-size: 20px;
}
h2 accordeon-header{
    font-size: 25px;
}
p{
    font-family: 'Shadows Into Light';
    font-size: 27px;
}
h3{
    font-family: 'Indie Flower';
    font-weight: 800;
}
h4{
    font-family: 'Indie Flower';
    font-weight: 800;
}