@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');

header{
    background-color: #251b37;
}
h1{
    color: antiquewhite;
    font-family: 'Shadows Into Light', cursive;
    font-size: 130px;
}
main{
    background-color: #372948;
}
h2{
    color: rgb(248, 232, 211);
    font-family: 'Indie Flower';
    font-weight: 800;
    font-size: 40px;

}
section{
    background-color: #FFCACA;
}
form{
    background-color:#FFECEF;
}
footer{
    background-color: #faf1f1;
}
.card{
    display: inline-block;
    background-color:azure;
    border-radius: 25% 10%;
    margin-left: 5%;

}
p{
    color:rgb(61, 15, 102) ;
}
.form-control{
    width: 30%;
    border-color:#372948;
}
.accordion-item{
    width: 50%;
}
.accordion-body{
    font-family: 'Indie Flower';
    font-size: 20px;
}

p{
    font-family: 'Shadows Into Light';
    font-size: 27px;
}
h3{
    font-family: 'Indie Flower';
    font-weight: 800;
    font-size: 40px;
}
h4{
    font-family: 'Indie Flower';
    font-weight: 800;
    font-size: 40px;
    
}
.form-label{
    font-family: 'Shadows Into Light';
    font-weight: 800;
    font-size: 22px;
}
.fa-brands{
    font-size: 45px;
    color: #372948;
}